.rectangle__field-2{
    width: 358px;
   
    max-height: 27px;
    height:  100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(99, 97, 97);
}

@media screen and (min-width: 320px) and (max-width:767px) {
    .rectangle__field-2 {
        width: 318px;
        
       
    }
 }
 
 @media screen and (min-width: 0px) and (max-width:319px) {
    .rectangle__field-2 {
      width: 272px;
      
      
    }
  }