.profile__initials{
    color: #FFF;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; 
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (min-width: 320px) and (max-width:767px) {
    .profile__initials {
        color: #FFF;
        font-family: Inter;
        font-size: 27px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;  
    }
  }

@media screen and (min-width: 0px) and (max-width:319px) {
    .profile__initials {
        color: #FFF;
        font-family: Inter;
        font-size: 27px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;   
    }
  }